@import '../../assets/scss/base/variables.scss';
@import '../../assets/scss/base/mixins.scss';

.form {
	display: flex;
    align-items: flex-start;
    justify-content: space-between;
	max-width: 800px;
	min-width: 300px;
	gap: 20px;
	&__label {
	}
	&__left {
		flex: 0 1 80%;
	}
	&__right {
		flex: 0 1 20%;
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding: 10px 0;
		font-size: adaptive(12,14,340,1280);
	}
	&__information {
		color: var(--secondary-text);
	}
}

.hr {
	background: red;
}