@import './variables.scss';
// Mixins
// --------------------------------------------------

@mixin mobile {
    @media only screen and (max-width: #{$mobileWidth}px) {
        @content;
    }
}

@mixin largeMobile {
    @media (min-width: #{$largeMobileWidth}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tabletWidth}px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktopWidth}px) {
        @content;
    }
}

@mixin largeDesktop {
    @media (min-width: #{$largeDesktopWidth}px) {
        @content;
    }
}


// Adaptive
// --------------------------------------------------
@function adaptive($f-min, $f-max, $v-min, $v-max, $units: px) {
	$k: ($f-max - $f-min)/($v-max - $v-min);
	$b: $f-min - $k * $v-min;

	$b: $b + $units;

	@return calc( #{$k} * 100vw + #{$b} );
}