@import '../../../../assets/scss/base/mixins.scss';

.fields {
	width: 100%;
	position: relative;
}

.input {
	background-color: var(--bg-form);
	border: 1px solid var(--bg-form);
	border-radius: 6px;
	width: 100%;	
	transition: all 0.6s;
	cursor: pointer;
	
	&__wrap {
		padding: 0 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
	}
	&__dropIcon {
		transition: all 0.2s;
	}

	&__active {
		background-color: white;
		border: 1px solid #ccc;
		& .drop {
			background-color: red;
		}
		& .input__dropIcon {
			transform: rotate(180deg);
		}
		& .input__label {
			transform: translate(-6px, -6px);
			font-size: 12px;
		}
		& .selectedCategories {
			height: 10px;
		}
	}
	&__label {
		color: var(--colors-label);
		font-size: adaptive(10,16,340,1280);
		transition: all 0.2s;
		&.active {
			transform: translate(-6px, -6px);
		}
	}

}

.selectedCategories {
	font-size: adaptive(10,16,340,1280);
	color: rgba(0,0,0,.8);
}