.field {
	width: 100%;
	position: relative;
}

.input {
	background-color: var(--bg-form);
	border: 1px solid var(--bg-form);
	border-radius: 6px;
	width: 100%;	
	transition: all 0.6s;
	
	&__wrap {
		padding: 0 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
	}
	&__active {
		background-color: white;
		border: 1px solid #ccc;
		& .drop {
			background-color: red;
		}
	}
	&__label {
		color: var(--colors-label);
		font-size: 14px;
	}
	
}

.selectedCategories {
	font-size: 16px;
	color: rgba(0,0,0,.8);
}